<div class="container position-relative mt-4 pb-4">
    <div class="list-item mb-4" *ngFor="let item of items; let i = index">
        <h2 class="text-bold">{{item.categoria}}</h2>
        <app-item-selectable *ngFor="let producto of item.productos;let i2=index" [label]="producto.nombre_producto"
            [categoria]="item.categoria" [isSelected]="producto.isSelected"
            (selectionChanged)="onSelectionChanged(i2, $event)" [disabled]="false"></app-item-selectable>
    </div>
    <div class="footer-actions">
        <div class="container">
            <button class="btn btn-siguiente" (click)="saveAndNext()"> Siguiente </button>
        </div>
    </div>
</div>