// Colores de brand apple green
$brand-apple-green-100: #9DB722;
$brand-apple-green-90: #C3D471;
$brand-apple-green-80: #CBD983;
$brand-apple-green-70: #D2DF95;
$brand-apple-green-60: #DAE4A7;
$brand-apple-green-50: #E1E9B8;
$brand-apple-green-40: #E9EFCA;
$brand-apple-green-30: #F0F4DC;
$brand-apple-green-20: #F7FAED;

// Colores de brand salmon orange
$brand-salmon-orange-100: #D26E4B;
$brand-salmon-orange-90: #DB8B6F;
$brand-salmon-orange-80: #E09A81;
$brand-salmon-orange-70: #E4A893;
$brand-salmon-orange-60: #E9B7A5;
$brand-salmon-orange-50: #EDC5B7;
$brand-salmon-orange-40: #F2D4C9;
$brand-salmon-orange-30: #F6E2DB;
$brand-salmon-orange-20: #FBF1ED;

// Colores de grey
$grey-50: #F9FAFB;
$grey-100: #F3F4F6;
$grey-200: #E5E7EB;
$grey-250: #F6F7F8;
$grey-300: #D1D5DB;
$grey-400: #9CA3AF;
$grey-500: #6B7280;
$grey-600: #4B5563;
$grey-700: #374151;
$grey-800: #353535;
$grey-900: #111827;
$grey-950: #030712;

// Colores de status red
$status-red-50: #FEF2F2;
$status-red-100: #FEE2E2;
$status-red-200: #FECACA;
$status-red-300: #FCA5A5;
$status-red-400: #F87171;
$status-red-500: #EF4444;
$status-red-600: #DC2626;
$status-red-700: #B91C1C;
$status-red-800: #991B1B;
$status-red-900: #7F1D1D;
$status-red-950: #450A0A;

// Colores de status sky
$status-sky-50: #F0F9FF;
$status-sky-100: #E0F2FE;
$status-sky-200: #BAE6FD;
$status-sky-300: #7DD3FC;
$status-sky-400: #38BDF8;
$status-sky-500: #0EA5E9;
$status-sky-600: #5891E7;
$status-sky-700: #0369A1;
$status-sky-800: #075985;
$status-sky-900: #0C4A6E;
$status-sky-950: #082F49;

// Colores de status green
$status-green-50: #F0FDF4;
$status-green-100: #DCFCE7;
$status-green-200: #BBF7D0;
$status-green-300: #86EFAC;
$status-green-400: #4ADE80;
$status-green-500: #22C55E;
$status-green-600: #16A34A;
$status-green-700: #15803D;
$status-green-800: #166534;
$status-green-900: #14532D;
$status-green-950: #052E16;