<div class="main-wrapper">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="over">
            <ul>
                <li *ngFor="let link of links" [ngClass]="{'active':router.url == link.url}" (click)="ir(link.url)">
                    <a >{{ link.title }}</a>
                </li>
            </ul>
           
        </mat-drawer>
        <div class="example-sidenav-content">
            <app-header></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </mat-drawer-container>
</div>