<div class="navbar navbar-topbar navbar-expand-xl navbar-light bg-dark">
    <div class="container p-0">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="data-logo" style="background-image: url('assets/logo/logo-3.webp');">
            </div>
            <div class="data-user">
                <div class="user">
                    <i-feather name="user"></i-feather>
                    {{user.first_name}}&nbsp;{{user.last_name}}
                </div>
                <div class="toggle-menu" (click)="toggleDrawer()">
                    <i-feather name="menu"></i-feather>
                </div>
            </div>
        </div>
    </div>
</div> 